<div class="container-fluid">
<div class="col-md-9 m-auto" >
  <div class="card">
    <div class="card-header bg-primary">ĐỔI MẬT KHẨU</div>
    <div class="card-body">
      <form class="form-horizontal" method="POST" action="" >
        <p> <label>Mật khẩu cũ</label>
          <input type="password" class="form-control" name="pass_old">
        </p>
        <p> <label>Mật khẩu mới:</label>
          <input type="password" class="form-control" name="pass_new1" >
        </p>
        <p><label>Gõ lại mật khẩu mới:</label>
          <input type="password" class="form-control" name="pass_new2" >
        </p>
        <p><button type="submit" class="btn btn-warning">Đổi mật khẩu</button></p>
      </form>
    </div>
  </div>
</div>
</div>
