<div class="header-area">
  <div class="main-header">
    <div class="header-top d-none d-lg-block">
      <div class="container">
        <div class="col-xl-12">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="header-info-left">
              <ul>
                <li>Phone: +99 (0) 101 0000 888</li>
                <li>Email: wedonthaveemail@gmail.com</li>
              </ul>
            </div>
            <div class="header-info-right">
              <ul class="header-social">
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom  header-sticky">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2">
            <div class="logo">
              <a href="index.html"><img src="assets/img/img/logo/logo.png" alt=""></a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10">
            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
              <div class="main-menu d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/login" *ngIf="!currentUser">Login</a></li>
                    <li><a routerLink="#" *ngIf="currentUser">{{currentUser.username}}</a>
                      <ul class="submenu">
                        <li><a *ngIf="currentUser != null" [routerLink]="['/profile',currentUser?.id]">User Profile</a></li>
                        <li><a routerLink="/registration">Registration</a></li>
                        <li><a routerLink="#" (click)="logout()">Log out</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slider-area ">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-9">
            <div class="hero__caption">
              <h1>Do You Want To Be <span> Professional </span> Developer? </h1>
            </div>
            <form action="#" class="search-box">
              <div class="search-form">
                <a href="#">Click Here!</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
